.medplum-resource-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  padding: 4px 10px;
  overflow: auto;
}

.medplum-resource-header > dl {
  margin: 5px 22px 5px 8px;
}

.medplum-resource-header dt {
  color: #444;
  text-transform: uppercase;
  font-size: 10px;
  white-space: nowrap;
}

.medplum-resource-header dd {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}
