.medplum-scrollable-container {
  /* background-color: var(--medplum-surface); */
  overflow: hidden;
  width: 100%;
}

.medplum-scrollable-content {
  /* background-color: var(--medplum-surface); */
  width: 100%;
  overflow: auto;
}
