.root {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 0;

  & > dt,
  & > dd {
    padding: var(--mantine-spacing-xs);
    border-top: 0.1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    margin: 0;
  }

  & > dt:first-of-type,
  & > dd:first-of-type {
    border-top: 0;
  }
}

.compact {
  grid-template-columns: auto 1fr;

  & > dt,
  & > dd {
    border: 0;
    padding: 0;
  }

  & > dt {
    padding-right: var(--mantine-spacing-xs);
  }

  & > dd {
    padding-left: var(--mantine-spacing-xs);
  }

  & > dt:last-of-type,
  & > dd:last-of-type {
    padding-bottom: var(--mantine-spacing-xs);
  }
}
