.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 10px;
  background: var(--mantine-color-white);

  & dl {
    display: inline-block;
    margin: 5px 20px 5px 5px;
  }

  & dt {
    color: var(--mantine-color-gray-6);
    text-transform: uppercase;
    font-size: var(--mantine-font-size-xs);
    white-space: nowrap;
  }

  & dd {
    font-size: var(--mantine-font-size-md);
    font-weight: 600;
    margin-left: 0;
    white-space: nowrap;
  }
}
