.medplum-calendar-container {
  display: flex;
  min-height: 400px;
}

.medplum-calendar-info-pane {
  min-width: 300px;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.medplum-calendar-selection-pane {
  min-width: 300px;
  padding: 20px;
}

.grecaptcha-badge { visibility: hidden; }
