{{<master}}
{{$title}}Email Verification{{/title}}
{{$content}}
  <h1>Enter new password</h1>
  {{message}}
  <form action="#" method="POST">
    <div>
      <label for="newPassword" class="block">New Password</label>
      <input id="newPassword" name="newPassword" type="password" placeholder="Password" autofocus required>
    </div>
    <div>
      <label for="confirmNewPassword" class="block">Confirm Password</label>
      <input id="confirmNewPassword" name="confirmNewPassword" type="password" placeholder="Password" required>
    </div>
    <div>
      <input type="submit" value="Next">
    </div>
  </form>
{{/content}}
{{/master}}