.DS_Store

# Local files for FileSystemBinaryStorage
binary/

# Node/npm
node_modules/

# Dotenv
.env
.env.production

# Output
packages/console/dist/
packages/core/dist/
packages/definitions/dist/**/*.js
packages/definitions/dist/**/*.js.map
packages/definitions/dist/**/*.d.ts
packages/generator/dist/
packages/graphiql/dist/
packages/seeder/dist/
packages/server/dist/
packages/ui/dist/

# Storybook output
storybook-static/

# Jest code coverage
coverage/

# TypeScript incremental build
tsconfig.tsbuildinfo

# Sqlite test database
test.sqlite3

