*.class
.DS_Store

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# hprof profiler output
java.hprof.txt

# nohup log files
nohup.out

# Eclipse
.classpath
.project
.settings/

# IntelliJ
*.iml
.idea/

# Maven
dependency-reduced-pom.xml
target/

# Local files for FileSystemBinaryStorage
binary/

