.DS_Store

# Local files for FileSystemBinaryStorage
binary/

# Node/npm
node_modules/

# Dotenv
.env

.failed
prettier-fmt.err
prettier-fmt1.err

# Output
packages/agent/dist/
packages/app/dist/
packages/cdk/dist/
packages/cli/dist/
packages/core/dist/
packages/core/docs/
packages/definitions/dist/**/*.js
packages/definitions/dist/**/*.js.map
packages/definitions/dist/**/*.d.ts
packages/definitions/dist/**/*.d.ts.map
packages/examples/dist/
packages/fhir-router/dist/
packages/generator/dist/
packages/generator/output/
packages/graphiql/dist/
packages/graphiql/public/
packages/hl7/dist/
packages/mock/dist/
packages/react/dist/
packages/react-hooks/dist/
packages/server/dist/

# Storybook output
storybook-static/

# Chromatic
packages/react/build-storybook.log

# Jest code coverage
coverage/

# TypeScript incremental build
tsconfig.tsbuildinfo

# Server tarball
medplum-server.tar.gz

# Deb files
*.deb

# Turborepo
.turbo

# Rollup
.rollup.cache/

# All executables
*.exe

# All Java JAR files
*.jar

# All certificate files
*.p12

