.contentContainer {
  transition: background 0.2s;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid transparent;
  text-decoration: none;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-gray-2));
}

.content {
  white-space: normal;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.contentContainer:hover {
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-9));
}

.contentContainer.selected {
  background: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-9));
}
