.container {
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.header {
  padding: 1rem;
  cursor: pointer;
  transition: background-color 150ms ease;
}

.header:hover {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.header.expanded {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.taskTitle {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.details {
  border-top: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}
