.rbc-calendar {
  font-family:
    -apple-system, 'system-ui', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

.rbc-btn-group button {
  font-size: 14px;
}

/* Hide empty menu titles that cause spacing */
.Navbar_menuTitle:empty {
  display: none !important;
}