.heroContent {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.heroTitle {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.25;
}

@media screen and (max-width: 996px) {
  .heroTitle {
    font-size: 2rem;
  }
}

.heroText {
  font-size: 1.125rem;
  color: #4d4d4d;
  margin-bottom: 0;
  margin-top: 0;
}

[data-theme='dark'] .heroText {
  color: #b2b2b2;
}

.heroImage {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: flex-end;
}

@media screen and (max-width: 996px) {
  .heroImage img {
    width: 300px;
    height: 300px;
  }
}

.getStartedButton {
  display: flex;
  height: 4.25rem;
  max-height: none;
  margin-top: 3rem;
  padding-right: 1.125rem;
  padding-left: 2.5rem;
  grid-column-gap: 0.625rem;
  background-color: #946af9;
  transition: all 200ms ease;
  font-size: 1.125rem;
  text-decoration: none;
  align-items: center;
  border-style: none;
  border-width: 1px;
  border-color: #000;
  border-radius: 2.5rem;
  color: #fff;
  text-align: center;
  width: 320px;
  max-width: 320px;
  justify-content: center;
  }

  .featureCell h2 {
  margin: 0 0 0.5rem 0;
  font-size: 1.375rem;
  line-height: 1.2;
  font-weight: 400;
  }

  .featureCell p {
  transition: all 200ms ease;
  font-size: 0.9375rem;
  color: #4d4d4d;
  max-width: 320px;
  }