.heroContent {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.heroTitle {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.25;
}

@media screen and (max-width: 996px) {
  .heroTitle {
    font-size: 2rem;
  }
}

.heroText {
  font-size: 1.125rem;
  color: #4d4d4d;
  margin-bottom: 0;
  margin-top: 0;
}

[data-theme='dark'] .heroText {
  color: #b2b2b2;
}

.heroImage {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: flex-end;
}

@media screen and (max-width: 996px) {
  .heroImage img {
    width: 300px;
    height: 300px;
  }
}
