.clear {
  background-color: var(--mantine-color-green-1);
  color: var(--mantine-color-dark-9);
}

.clear .icon {
  color: var(--mantine-color-green-8);
}

.current {
  background-color: var(--mantine-color-blue-5)
}

.current .icon {
  color: var(--mantine-color-gray-4);
}


.disabled {
  background-color: var(--mantine-color-gray-5)
}

.disabled .icon {
  color: var(--mantine-color-gray-4);
}
