.list {
  display: flex;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  gap: 4px;
}

.tab {
  height: 32px;
  padding: 0 12px;
  border-radius: var(--mantine-radius-xl);
  font-size: var(--mantine-font-size-sm);
  font-weight: 450;
  transition: background-color 150ms ease, color 150ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab:hover {
  background-color: var(--mantine-color-gray-0);
}
