.medplum-patient-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  padding: 4px 10px;
  overflow: auto;
}

.medplum-patient-header > .medplum-avatar {
  margin: 5px;
}

.medplum-patient-header > dl {
  margin: 5px 10px 5px 20px;
}

.medplum-patient-header dt {
  color: #444;
  text-transform: uppercase;
  font-size: 10px;
  white-space: nowrap;
}

.medplum-patient-header dd {
  font-size: 16px;
  font-weight: bold;
  margin-left: 0;
  white-space: nowrap;
}
