.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--app-shell-header-height, 0));
}

.tabBar {
  flex-shrink: 0;
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.iframeContainer {
  flex: 1;
  min-height: 0;
}

.button {
  height: 32px;
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-gray-8));
  color: light-dark(var(--mantine-color-black), var(--mantine-color-gray-4));
  font-weight: 500;
}

.selected {
  background-color: light-dark(var(--mantine-color-black), var(--mantine-color-gray-6));
  color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
}
