.card {
  display: flex;
  flex: 1;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--oc-gray-1);
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 3px 9px rgba(var(--oc-gray-8-rgb), 0.08), 0px 0.7px 1.4625px rgba(var(--oc-gray-8-rgb), 0.015);
  transition: all 200ms ease;
}

[data-theme='dark'] .card {
  border: 1px solid rgba(var(--oc-gray-8-rgb), 0.5);
  background: #1B1B1D;
  box-shadow: 0px 4px 40px rgba(var(--oc-gray-0-rgb), 0.1);
}

.card h2 {
  font-size: 2.375rem;
  line-height: 1.25;
  font-weight: 400;
}

.card h3 {
  font-size: 1.375rem;
  line-height: 1.2;
  font-weight: 400;
}

.card p {
  font-size: 0.9375rem;
  margin: 0;
}

.card strong {
  color: var(--oc-grape-8);
  font-weight: 400;
}
