.container {
  /* CONSTRUCTION */
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;

  width: 328px;
  height: 240px;

  /* LIGHT/neutrals/neutral-3 */
  background: #fbfbfb;

  /* LIGHT/neutrals/neutral-10 */
  border: 1px solid #e6e6e6;
  border-radius: 32px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;

  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px;
}

[data-theme='dark'] .container {
  background-color: rgb(27 27 29);
  border: 1px solid #0d0d0d4b;

  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.content {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
}

.title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 130%;
  color: #000000;
}

[data-theme='dark'] .title {
  color: #ffffff;
}
.cardBody {
  /* LIGHT/neutrals/neutral-70 */
  color: #4d4d4d;
}

[data-theme='dark'] .cardBody {
  /* LIGHT/neutrals/neutral-70 */
  color: #b2b2b2;
}

.link-container {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 12px 2px 16px;
  gap: 8px;

  width: 145px;
  height: 30px;

  /* LIGHT/primary/primary-10 */
  border-radius: 53px;

  background: var(--ifm-color-primary-lightest);
}

[data-theme='dark'] .link-container {
  background: var(--ifm-color-primary-darkest);
}

.link-container a {
  color: var(--ifm-color-primary);
}

.link-container img {
  width: 18px;
  height: 26px;
  line-height: 100%;
}

.icon {
  box-shadow: none;
}
