apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "medplum.serviceAccountName" . }}
  namespace: {{ include "medplum.namespace" . }}
  labels:
    {{- include "medplum.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- if or (eq .Values.global.cloudProvider "gcp") (eq .Values.global.cloudProvider "azure") }}
automountServiceAccountToken: true
{{- end }}
