.hl7Input {
  font-family: monospace;
  font-size: 12px;
  line-height: 1.55;
  padding: 10px 12px;
  white-space: nowrap;
  width: 100%;
}

.splitButton {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.menuControl {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 0;
  border-left: rem(1px) solid var(--mantine-color-body);
}

.eventData {
  font-family: monospace;
  font-size: 12px;
  line-height: 1.55;
  white-space: pre-wrap;
  word-break: break-word;
  margin: 0;
}
