.medplum-bot-editor {
  position: relative;
  width: 100%;
  height: 800px;
  background: white;
}

.medplum-bot-code-frame {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 800px;
  height: 520px;
  border: 0.1px solid #aaa;
}

.medplum-bot-input-frame {
  position: absolute;
  left: 850px;
  top: 20px;
  width: 350px;
  height: 260px;
  border: 0.1px solid #aaa;
}

.medplum-bot-output-frame {
  position: absolute;
  left: 850px;
  top: 300px;
  width: 350px;
  height: 240px;
  border: 0.1px solid #aaa;
}

.medplum-bot-buttons {
  position: absolute;
  left: 29px;
  top: 560px;
  width: 1100px;
  height: 50px;
}
