.propertyTable {
  margin: 0;
}

.propertyTable th,
.propertyTable td {
  padding: var(--mantine-spacing-sm);
  border-top: 0.1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.propertyTable thead th {
  border-top: 0;
  padding-top: 0;
  font-weight: 600;
}

.propertiesTitle {
  padding-left: var(--mantine-spacing-sm);
}

