## Usage

The [VerificationResult](/docs/api/fhir/resources/verificationresult) can be used where content (such as found in a directory) is aggregated between systems, and the details of this process needs to be recorded, to be able to determine the likely accuracy of the content.

## Relationships

TBD.
