main {
  margin: 32px auto 6px auto;
  padding: 10px;
  clear: both;
  text-align: center;
}

article {
  background-color: var(--medplum-surface);
  position: relative;
  max-width: 900px;
  margin: auto;
  padding: 20px 10px;
  text-align: left;
}

article h1, article h2, article h3 {
  margin: 12px 0;
}

article p, article li {
  line-height: 175%;
  margin: 8px 0 16px 0;
}