/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #96588a;
  --ifm-color-primary-dark: #874f7c;
  --ifm-color-primary-darker: #804b75;
  --ifm-color-primary-darkest: #693e61;
  --ifm-color-primary-light: #a36397;
  --ifm-color-primary-lighter: #a86a9c;
  --ifm-color-primary-lightest: #b581ab;
  --ifm-font-size-base: 90%;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

main img {
  width: 90%;
}

.homepage-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
  margin-inline: 2rem;
  margin-block-end: 4rem;
}

@media screen and (max-width: 966px) {
  .homepage-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
