.icon {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: var(--mantine-radius-sm);
  background: var(--visit-type-bar);
  color: var(--mantine-color-white);
}
