.medplum-autocomplete-container {
  border: 0.1px solid var(--medplum-gray-300);
  border-radius: 3px;
  background: var(--medplum-surface);
  box-shadow: 0 1px 1px 0 var(--medplum-shadow);
  outline: 2px var(--medplum-surface);
  position: relative;
  cursor: text;
  height: 34px;
  line-height: 28px;
  width: 100%;
  max-width: 400px;
}

.medplum-autocomplete-container.focused {
  background: var(--medplum-surface);
  color: var(--medplum-gray-900);
  border: 0.1px solid var(--medplum-blue-500);
  box-shadow: 0 0 0 2px var(--medplum-blue-400);
}

.medplum-autocomplete-container > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  cursor: text;
  height: 34px;
}

.medplum-autocomplete-container li.medplum-autocomplete-item {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;
  white-space: nowrap;
  user-select: none;
}

.medplum-autocomplete-container li.medplum-autocomplete-item.choice {
  margin: 1px 0 1px 4px;
  padding: 0 6px;
  border: 0.1px solid var(--medplum-orange-200);
  border-radius: 4px;
  background-color: var(--medplum-gray-50);
  cursor: move;
  line-height: 22px;
}

.medplum-autocomplete-container li.medplum-autocomplete-item.unstructured {
  border: 0.1px dashed var(--medplum-red-700) !important;
}

.medplum-autocomplete-container li.medplum-autocomplete-item input {
  color: var(--medplum-gray-800);
  display: inline-block;
  width: 80px;
  height: 28px;
  line-height: 26px;
  padding: 0 0 0 4px;
  margin: 3px 0 0 2px;
  outline: none;
  border: none;
  box-shadow: none;
  background: transparent;
}

.medplum-autocomplete-container li.medplum-autocomplete-item input::-moz-focus-inner {
  border: 0px;
}

.medplum-autocomplete-container li.medplum-autocomplete-item input:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.medplum-autocomplete {
  position: absolute;
  background: var(--medplum-surface);
  width: 300px;
  z-index: 1;
  cursor: pointer;
  border: 0.1px solid var(--medplum-gray-300);
  border-radius: 2px;
  box-shadow: 0 2px 4px var(--medplum-shadow);
  transition: opacity 0.218s;
}

.medplum-autocomplete-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.medplum-autocomplete-active {
  background-color: var(--medplum-gray-200);
}

.medplum-autocomplete-icon {
  width: 48px;
  height: 48px;
  padding: 8px;
  margin: 0;
  cursor: pointer;
}

.medplum-autocomplete-label {
  flex: 1;
  padding: 0 0 0 8px;
  cursor: pointer;
  user-select: none;
}

.medplum-autocomplete-label div {
  line-height: 18px;
}

.medplum-autocomplete-label .medplum-autocomplete-help-text {
  font-size: 12px;
  color: var(--medplum-gray-500);
}
