.medplum-chat {
  border: thin solid var(--medplum-gray-100);
}

.medplum-chat-history {
  border: thin solid var(--medplum-gray-300);
  margin: 0 auto 8px auto;
  padding: 4px;
  min-height: 300px;
  min-width: 300px;
}

.medplum-chat-communication {
  margin: 4px 0;
  padding: 8px 4px;
}

.medplum-chat-bubble {
  background-color: var(--medplum-blue-500);
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
}
