
.medplum-observation-table {
  border-collapse: collapse;
  border-top: thin solid var(--medplum-gray-500);
  border-left: thin solid var(--medplum-gray-500);
}

.medplum-observation-table td,
.medplum-observation-table th {
  border-bottom: thin solid var(--medplum-gray-500);
  border-right: thin solid var(--medplum-gray-500);
  padding: 4px 8px;
}
