.medplum-diagnostic-report-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  padding: 4px;
  overflow: hidden;
}

.medplum-diagnostic-report-header > .medplum-avatar {
  margin: 5px;
}

.medplum-diagnostic-report-header > dl {
  margin: 5px 30px 5px 0;
}

.medplum-diagnostic-report-header dt {
  color: #444;
  text-transform: uppercase;
  font-size: 10px;
  white-space: nowrap;
}

.medplum-diagnostic-report-header dd {
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  white-space: nowrap;
}

.medplum-observation-table {
  border-collapse: collapse;
  border-top: 0.1px solid var(--medplum-gray-500);
  border-left: 0.1px solid var(--medplum-gray-500);
}

.medplum-observation-table td,
.medplum-observation-table th {
  border-bottom: 0.1px solid var(--medplum-gray-500);
  border-right: 0.1px solid var(--medplum-gray-500);
  padding: 4px 8px;
}
