fieldset {
  border: 0;
  margin: 6px 0 16px 0;
  padding: 2px 0 8px 0;
}

fieldset.bordered {
  border: 0.1px solid var(--medplum-gray-300);
  border-radius: 6px;
  margin: 6px 0 16px 0;
  padding: 2px 8px 8px 8px;
}

fieldset label,
fieldset legend {
  display: block;
  margin: 2px 0 4px 0;
  font-size: 12px;
}

fieldset small {
  display: block;
  margin: 2px 0 4px 0;
  padding: 2px 0 4px 0;
}

fieldset input[type='date'],
fieldset input[type='datetime-local'],
fieldset input[type='email'],
fieldset input[type='number'],
fieldset input[type='password'],
fieldset input[type='tel'],
fieldset input[type='text'],
fieldset input[type='time'],
fieldset input[type='url'] {
  width: 100%;
  max-width: 400px;
}

fieldset select,
fieldset table {
  width: 100%;
}
