header {
  min-height: 50px;
  line-height: 24px;
  margin: 0 0 2px 0;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5b2876;
  box-shadow: 0 1px 2px 0 var(--medplum-gray-200);
  color: white;
}

header>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px 0 4px;
}

header svg {
  margin-right: 8px;
}

header a {
  text-decoration: none;
  padding: 0 8px 0 4px;
  color: white;
  font-weight: bold;
}

header a:hover {
  text-decoration: none;
}

div.medplum-nav-search-container {
  position: relative;
  margin-left: 32px;
}

@media (max-width: 700px) {
  div.medplum-nav-search-container {
    display: none;
  }
}

input.medplum-nav-search-input {
  border: 1px solid #5b2876;
  background-color: #7a4696;
  box-shadow: none;
  padding-left: 32px;
  width: 300px;
}

input.medplum-nav-search-input::placeholder {
  color: #ddc4eb;
}

svg.medplum-nav-search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -9px;
  pointer-events: none;
  color: #5b2876;
  vertical-align: bottom;
}

input.medplum-nav-search-input:focus {
  background-color: var(--medplum-surface);
}

input.medplum-nav-search-input:focus::placeholder {
  color: var(--medplum-gray-500);
}

input.medplum-nav-search-input:focus svg.medplum-nav-search-icon {
  color: var(--medplum-gray-500);
}

.medplum-nav-search-popover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(4px, 36px);
  border: 1px solid var(--medplum-gray-400);
  border-radius: 4px;
  background-color: var(--medplum-surface);
  color: var(--medplum-gray-600);
  padding: 6px;
  width: 600px;
  z-index: 100;
}

.medplum-nav-search-hints {
  display: flex;
}

.medplum-nav-search-hints-column {
  flex: 50%;
}

div.medplum-nav-menu-container {
  position: relative;
}

.medplum-nav-menu-popover {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0px, 32px);
  border: 1px solid var(--medplum-gray-400);
  border-radius: 4px;
  background-color: var(--medplum-surface);
  color: var(--medplum-gray-600);
  padding: 6px;
  width: 300px;
  z-index: 100;
}

.medplum-nav-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.medplum-nav-menu a {
  color: var(--medplum-foreground);
  font-weight: normal;
}
