header {
  min-height: 50px;
  line-height: 24px;
  margin: 0 0 2px 0;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--medplum-navbar);
  box-shadow: 0 1px 2px 0 var(--medplum-gray-200);
  color: white;
}

header>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px 0 4px;
}

header svg {
  margin-right: 8px;
}

header a {
  text-decoration: none;
  padding: 0 8px 0 4px;
  color: white;
  font-weight: bold;
}

header a:hover {
  text-decoration: none;
}

header a:focus {
  outline: none;
}

div.medplum-nav-search-container {
  position: relative;
  margin-left: 32px;
}

@media (max-width: 700px) {
  div.medplum-nav-search-container {
    display: none;
  }
}

input.medplum-nav-search-input {
  border: 0;
  background-color: var(--medplum-navbar-textbox);
  box-shadow: none;
  padding-left: 32px;
  width: 300px;
}

input.medplum-nav-search-input::placeholder {
  color: var(--medplum-navbar-placeholder);
}

svg.medplum-nav-search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -9px;
  pointer-events: none;
  color: var(--medplum-navbar-icon);
  vertical-align: bottom;
}

input.medplum-nav-search-input:focus {
  background-color: var(--medplum-surface);
}

input.medplum-nav-search-input:focus::placeholder {
  color: var(--medplum-gray-500);
}

input.medplum-nav-search-input:focus svg.medplum-nav-search-icon {
  color: var(--medplum-gray-500);
}

.medplum-nav-search-popover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(4px, 36px);
  border: thin solid var(--medplum-gray-400);
  border-radius: 4px;
  background-color: var(--medplum-surface);
  color: var(--medplum-gray-600);
  padding: 6px;
  width: 600px;
  z-index: 100;
}

.medplum-nav-search-hints {
  display: flex;
}

.medplum-nav-search-hints-column {
  flex: 50%;
}

div.medplum-nav-menu-container {
  position: relative;
}

.medplum-nav-menu-popover {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0px, 32px);
  border: thin solid var(--medplum-gray-400);
  border-radius: 4px;
  background-color: var(--medplum-surface);
  color: var(--medplum-gray-600);
  padding: 6px;
  width: 300px;
  z-index: 100;
}

.medplum-nav-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.medplum-nav-menu a {
  color: var(--medplum-foreground);
  font-weight: normal;
}

.medplum-sidebar {
  position: fixed;
  overflow: auto;
  z-index: 40;
  top: 50px;
  left: 0;
  width: 200px;
  bottom: 0;
  background: var(--medplum-background);
  padding: 4px 8px;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transform: translateX(-200px);
  user-select: none;
}

.medplum-sidebar.active {
  transform: translateX(0px);
}

.medplum-sidebar>h5 {
  margin: 32px 0 4px 6px;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.medplum-sidebar>ul {
  list-style: none;
}

.medplum-sidebar>ul>li {
  list-style: none;
  margin: 8px 0;
}

.medplum-sidebar>ul>li>a {
  display: flex;
  border-radius: 4px;
  padding: 6px;
  text-decoration: none;
  color: var(--medplum-gray-700);
}

.medplum-sidebar>ul>li>a:hover {
  background: var(--medplum-gray-300);
}