.medplum-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.medplum-loading-container {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}

.medplum-loading-spinner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
}

.medplum-loading-spinner circle {
  fill: none;
  stroke: var(--medplum-navbar);
  stroke-width: 4;
  stroke-dasharray: 2, 400;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 2, 400;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 180, 400;
    stroke-dashoffset: -70px;
  }
  100% {
    stroke-dasharray: 180, 400;
    stroke-dashoffset: -248px;
  }
}
