
.medplum-popup-menu {
  background: var(--medplum-surface);
  cursor: default;
  margin: 0;
  outline: none;
  padding: 4px 0;
  position: absolute;
  z-index: 20000;
  border-radius: 0;
  box-shadow: 0 2px 4px var(--medplum-shadow);
  transition: opacity .218s;
  border: thin solid var(--medplum-gray-500);
}
