.medplum-popup {
  position: fixed;
  background: var(--medplum-surface);
  cursor: default;
  margin: 0;
  outline: none;
  z-index: 20000;
  border-radius: 0;
  box-shadow: 0 2px 4px var(--medplum-shadow);
  transition: opacity 0.2s;
  border: 0.1px solid var(--medplum-gray-400);
}

.medplum-backdrop {
  position: absolute;
  overflow: hidden;
  z-index: 30;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 0;
  background: black;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1), width 20ms ease;
  opacity: 0;
}

.medplum-backdrop.active {
  opacity: 0.5;
  width: 100%;
}
