
.medplum-signin {
  max-width: 400px;
}

.medplum-signin-buttons {
  display: flex;
  justify-content: space-between;
  line-height: 32px;
}

.medplum-signin-buttons>div {
  display: flex;
}

.medplum-signin-buttons a {
  font-size: 12px;
  margin-right: 16px;
}
