.medplum-signin {
  max-width: 400px;
}

.medplum-signin-buttons {
  display: flex;
  justify-content: space-between;
  line-height: 32px;
}

.medplum-signin-buttons > div {
  display: flex;
  align-items: center;
}

.medplum-signin-buttons a {
  font-size: 12px;
  margin-right: 16px;
}

.medplum-signin-buttons label {
  font-size: 12px;
}

.medplum-signin-google-container {
  padding: 20px 0 10px 0;
  margin: 20px 0 10px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.1px solid var(--medplum-gray-200);
}

.medplum-signin-google-icon {
  margin-right: 8px;
}

.medplum-signin-google-icon svg {
  display: inline-block;
  vertical-align: top;
}
