.medplum-smarttext {
  display: flex;
  flex-direction: row;
  border: thin solid #eee;
}

.medplum-smartext-editor-container {
  width: 80%;
  height: 400px;
  position: relative;
}

.medplum-smarttext-editor {
  height: 100%;
  outline: none;
  border: 0;
  padding: 8px;
}

.medplum-smarttext-editor:focus {
  outline: none;
  border: 0;
}

.medplum-smarttext-editor .concept {
  font-weight: bold;
  color: #222;
}

.medplum-smarttext-completions {
  display: none;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  background: white;
  border: thin solid #ccc;
  outline: none;
}

.medplum-smarttext-completions>li {
  margin: 0;
  padding: 4px 8px;
  font-size: 13px;
  color: #666;
}

.medplum-smarttext-completions>li.selected {
  background: #eee;
}

.code-container {
  width: 20%;
  padding: 10px;
  border-left: thin solid #eee;
}

.code-header {
  background: #777;
  color: white;
  padding: 5px 15px;
  border-radius: 6px 6px 0 0;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.code-list {
  background: #eee;
  padding: 5px 15px;
  border-radius: 0 0 6px 6px;
  min-height: 100px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.code {
  animation: fadein 0.4s;
}

.action-container {
  display: flex;
  flex-direction: row;
  padding: 10px 30px;
  min-height: 100px;
}

.action {
  width: 150px;
  margin: 10px 10px 10px 0;
  padding: 12px 8px;
  background: #eee;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  animation: fadein 0.4s;
}

.medplum-smarttext .section {
  margin-left: 8px;
  padding-left: 8px;
  border-left: thin solid #f00;
}
