a.medplum-tab {
  display: inline-block;
  line-height: 50px;
  margin: 0;
  padding: 0 8px;
  width: 75px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  color: var(--medplum-gray-600);
  text-decoration: none;
  outline: 0;
}

a.medplum-tab:focus,
a.medplum-tab:hover {
  border-bottom: 2px solid var(--medplum-blue-100);
}

a.medplum-tab.selected {
  border-bottom: 2px solid var(--medplum-orange-300);
  color: var(--medplum-gray-800);
  font-weight: bold;
}
