.medplum-tab {
  display: inline-block;
  line-height: 50px;
  margin: 0;
  padding: 0 8px;
  width: 75px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.medplum-tab a {
  color: var(--medplum-gray-600);
  text-decoration: none;
}

.medplum-tab:hover {
  border-bottom: 2px solid var(--medplum-gray-300);
}

.medplum-tab.selected {
  border-bottom: 2px solid var(--medplum-orange-300);
}

.medplum-tab.selected a {
  color: var(--medplum-gray-800);
  font-weight: bold;
}