.medplum-tablist {
  position: relative;
  min-height: 50px;
  user-select: none;
  white-space: nowrap;
}

.medplum-tablist-foreground {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  bottom: 0;
  user-select: none;
  white-space: nowrap;
  border-bottom: 2px solid var(--medplum-gray-200);
  padding: 0 20px;
  z-index: 3;
}
