input[type='date'],
input[type='datetime-local'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
select,
textarea {
  border: 0.1px solid var(--medplum-gray-300);
  border-radius: 3px;
  background: var(--medplum-surface);
  box-shadow: 0 1px 1px 0 var(--medplum-gray-200);
  color: var(--medplum-gray-800);
  font-size: var(--medplum-font-normal);
}

input[type='date'],
input[type='datetime-local'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
select {
  width: 100%;
  max-width: 400px;
  height: 34px;
  line-height: 28px;
}

input[type='date'],
input[type='datetime-local'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'] {
  padding: 2px 8px;
  margin: 0;
}

textarea {
  line-height: 18px;
  padding: 2px 4px;
  margin: 0;
}

input[type='date']:focus,
input[type='datetime-local']:focus,
input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='time']:focus,
input[type='url']:focus,
select:focus,
textarea:focus {
  background: var(--medplum-surface);
  color: var(--medplum-gray-900);
  border: 0.1px solid var(--medplum-blue-300);
  box-shadow: 0 0 0 2px var(--medplum-blue-200);
}

input[type='date']:disabled,
input[type='datetime-local']:disabled,
input[type='email']:disabled,
input[type='number']:disabled,
input[type='password']:disabled,
input[type='tel']:disabled,
input[type='text']:disabled,
input[type='time']:disabled,
input[type='url']:disabled,
select:disabled,
textarea:disabled {
  background: var(--medplum-gray-100);
}

input.small,
select.small {
  font-size: var(--medplum-font-small);
  line-height: 24px;
}

input.large,
select.large {
  font-size: var(--medplum-font-big);
  line-height: 32px;
}

select {
  padding: 4px 8px;
  margin: 1px;
  line-height: 28px;
  border-radius: 3px;
}

select:not([size]) {
  height: 34px;
}

select.small:not([size]) {
  height: 28px;
}

select.large:not([size]) {
  height: 36px;
}

.medplum-input-error {
  margin: 2px 0;
  padding: 2px 0;
  font-size: var(--medplum-font-small);
  color: red;
}

input[type='checkbox'],
input[type='radio'] {
  border: 0.1px solid var(--medplum-gray-300);
  border-radius: 0;
  background: var(--medplum-surface);
}

input[type='checkbox']:focus,
input[type='radio']:focus {
  background: var(--medplum-surface);
  color: var(--medplum-gray-900);
  border: 0.1px solid var(--medplum-blue-300);
}

input[type='checkbox']:disabled,
input[type='radio']:disabled {
  background: var(--medplum-gray-100);
}
