.medplum-timeline article.medplum-timeline-item {
  max-width: 700px;
  padding: 0;
}

.medplum-timeline .medplum-timeline-item-header {
  display: flex;
  padding: 8px;
}

.medplum-timeline .medplum-timeline-item-avatar {
  margin-right: 8px;
}

.medplum-timeline .medplum-timeline-item-title > a {
  color: var(--medplum-gray-800);
  font-weight: bold;
}

.medplum-timeline .medplum-timeline-item-subtitle {
  font-size: 11px;
}

.medplum-timeline .medplum-timeline-item-subtitle > a,
.medplum-timeline .medplum-timeline-item-subtitle > span {
  margin-right: 6px;
  color: var(--medplum-gray-500);
}

.medplum-timeline .medplum-timeline-item-footer {
  display: flex;
  padding: 8px;
  border-top: 0.1px solid var(--medplum-gray-200);
}

.medplum-timeline .medplum-timeline-icon {
  width: 26px;
  height: 26px;
  padding: 4px 0;
  margin-right: 2px;
  color: var(--medplum-gray-500);
}
