
.medplum-resource-nav {
    position: relative;
    min-height: 50px;
}

.medplum-resource-nav-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--medplum-gray-50);
    border-bottom: 1px solid var(--medplum-gray-200);
    z-index: -1;
}

.medplum-resource-nav-foreground {
    padding: 0 20px;
}

.medplum-resource-nav-foreground div {
    display: inline-block;
    line-height: 50px;
    margin: 0;
    padding: 0 8px;
    width: 80px;
    text-align: center;
}

.medplum-resource-nav-foreground div a {
    color: var(--medplum-gray-600);
    text-decoration: none;
}

.medplum-resource-nav-foreground div:hover {
    border-bottom: 2px solid var(--medplum-gray-300);
}

.medplum-resource-nav-foreground div.selected {
    border-bottom: 2px solid var(--medplum-orange-300);
}

.medplum-resource-nav-foreground div.selected a {
    color: var(--medplum-gray-800);
    font-weight: bold;
}

.medplum-resource-header-data {
	margin-left: 100px;
	margin-right: 120px;
}

.medplum-resource-icon {
	float: left;
	width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
}

.medplum-resource-icon img {
	width: 80px;
    height: 80px;
}

.medplum-resource-shortcuts {
	float: right;
	text-align: right;
	width: 140px;
}

.medplum-resource-shortcuts button {
    font-size: 11px;
}

.medplum-resource-header-item {
    display: inline-block;
}

.medplum-resource-header-value {
    color:var(--medplum-gray-700);
    border-bottom:1px solid var(--medplum-gray-600);
    padding:0 40px 0 5px;
    font-size: 12px;
}

.medplum-resource-header-value.big {
    font-size:20px;
    line-height:26px;
    height:26px;
}

.medplum-resource-header-value.small {
    font-size:16px;
    line-height:22px;
    height:22px;
}

.medplum-resource-header-key {
    color:var(--medplum-gray-500);
    font-size:9px;
    line-height:14px;
    padding:4px 0 18px 5px;
}

.medplum-resource-priors {
    float:left;
    width:150px;
    padding:10px;
}

.medplum-resource-prior {
    width:130px;
    padding:5px;
    border:1px solid var(--medplum-gray-400);
    margin-bottom:20px;
    text-align:center;
}

.medplum-resource-prior-icon {
    width: 60px;
    height: 60px;
    max-width: 60px;
}

.medplum-resource-active-prior {
    background-color: var(--medplum-yellow-100);
    border: 1px solid var(--medplum-gray-500);
}

.medplum-resource-active-prior-icon {
    width: 120px;
    height: 120px;
    max-width: 120px;
}

.medplum-resource-nav div.medplum-resource-nav-form {
    float: right;
    padding: 2px;
    margin: 1px;
}

#medplum-quick-status {
    width:150px !important;
    margin-bottom:0;
    font-size:13px;
}

.medplum-event img,
.medplum-event video {
    max-width: 100%;
}

@media (max-width: 600px) {
    .medplum-resource-priors {
        display: none;
    }
    .medplum-resource-main {
        margin-left: 0;
    }
}
