.logoContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.logoImage {
  color: var(--ifm-color-primary);
  display: block;
  margin: 0 auto;
  transform: scale(1);
  transition: all 0.1s ease;
}

.logoImage:hover {
  color: var(--oc-grape-9);
}
