.menuTitle {
  margin: 20px 0 4px 6px;
  font-size: var(--mantine-font-size-xs);
  font-weight: 500;
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-gray-6));
}

.menuTitle:empty,
.menuTitle:blank {
  display: none;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    text-decoration: none;
  }

  & svg {
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
    margin-right: var(--mantine-spacing-sm);
    stroke-width: var(--stroke-width, 2);
    width: 18px;
    height: 18px;
  }
}

.linkActive {
  color: var(--active-color, light-dark(var(--mantine-color-black), var(--mantine-color-white)));
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  }

  & svg {
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    stroke-width: var(--stroke-width, 2);
  }
}
