apiVersion: v2
name: medplum
description: |
  Helm chart for deploying Medplum Server - an open source healthcare development platform.
  Provides FHIR server, auth, workflows, and APIs for building healthcare applications.
type: application
version: 4.3.11
appVersion: '4.3.11'
keywords:
  - healthcare
  - fhir
  - medical
  - ehr
  - api
  - server
home: https://www.medplum.com
sources:
  - https://github.com/medplum/medplum
documentation: https://www.medplum.com/docs
icon: https://www.medplum.com/img/logo.svg
maintainers:
  - name: Medplum Team
    url: https://www.medplum.com
    email: support@medplum.com
annotations:
  artifacthub.io/license: Apache-2.0
  artifacthub.io/prerelease: 'true'
# Optional dependencies would go here
# dependencies:
#   - name: cert-manager
#     version: "^1.0.0"
#     repository: https://charts.jetstack.io
#     condition: certificates.useCertManager
#     tags:
#       - optional
