fieldset.medplum-form-section {
  border: 0;
  margin: 6px 0 12px 0;
  padding: 2px 0 8px 0;
}

fieldset.medplum-form-section > label,
fieldset.medplum-form-section > legend {
  display: block;
  margin: 1px 0 3px 0;
  line-height: 1.75;
  font-weight: 500;
}

fieldset.medplum-form-section > p {
  margin: 1px 0 4px 0;
  padding: 1px 0 4px 0;
  line-height: 1.75;
}
