.medplum-document {
  margin: 20px auto 6px auto;
  padding: 10px;
  clear: both;
  text-align: center;
}

.medplum-document article {
  background-color: var(--medplum-surface);
  max-width: 900px;
  margin: 8px auto 16px auto;
  padding: 15px 25px;
  text-align: left;
  border: 0.1px solid var(--medplum-gray-300);
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 var(--medplum-shadow);
  font-size: 14px;
}

@media (max-width: 700px) {
  .medplum-document {
    margin: 10px auto 6px auto;
    padding: 4px;
  }

  .medplum-document article {
    padding: 6px 12px;
  }
}

.medplum-document img,
.medplum-document video {
  width: 100%;
}
