.medplum-questionnaire-builder .section {
  position: relative;
  margin: 4px;
  padding: 16px 12px 16px 4px;
  background-color: var(--medplum-surface);
  border: 1px solid var(--medplum-gray-300);
  border-radius: 8px;
}

.medplum-questionnaire-builder .section h1 {
  margin: 4px 0;
}

.medplum-questionnaire-builder .section.hovering {
  border-color: var(--medplum-blue-500);
}

.medplum-questionnaire-builder .section.editing {
  margin: 8px 4px 12px 4px;
  padding: 4px 4px 20px 4px;
  border-left: 4px solid var(--medplum-blue-500);
}

.medplum-questionnaire-builder .section.editing input,
.medplum-questionnaire-builder .section.editing select {
  margin: 2px 4px;
}

.medplum-questionnaire-builder .section > .top-actions {
  top: 0;
  padding: 4px;
  color: var(--medplum-gray-500);
}

.medplum-questionnaire-builder .section > .bottom-actions {
  bottom: 0;
}

.medplum-questionnaire-builder .section > .top-actions,
.medplum-questionnaire-builder .section > .bottom-actions {
  position: absolute;
  right: 0;
}

.medplum-questionnaire-builder .section > .top-actions a,
.medplum-questionnaire-builder .section > .bottom-actions a {
  font-size: 10px;
  color: var(--medplum-gray-500);
  margin: 0 6px 4px 0;
}

.medplum-questionnaire-builder .section.editing > .top-actions a,
.medplum-questionnaire-builder .section.editing > .bottom-actions a {
  color: var(--medplum-blue-500);
}
