.medplum-questionnaire-builder .section {
  position: relative;
  margin: 4px 4px 4px 0;
  padding: 4px 12px 16px 2px;
  background-color: var(--medplum-surface);
  border: 1px solid var(--medplum-surface);
  border-radius: 8px;
}

.medplum-questionnaire-builder .section h1 {
  margin: 4px 0;
}

.medplum-questionnaire-builder .section.hovering {
  border: 1px solid var(--medplum-blue-500);
}

.medplum-questionnaire-builder .section.editing {
  margin: 8px 4px 12px 0;
  padding: 4px 4px 20px 12px;
  border: 1px solid var(--medplum-gray-300);
  border-left: 4px solid var(--medplum-blue-500);
}

.medplum-questionnaire-builder .section.editing input,
.medplum-questionnaire-builder .section.editing select {
  margin: 2px 4px 2px 0;
}

.medplum-questionnaire-builder .section > .top-actions {
  top: 1px;
  padding: 4px;
  color: var(--medplum-gray-500);
}

.medplum-questionnaire-builder .section > .bottom-actions {
  bottom: 0;
}

.medplum-questionnaire-builder .section > .top-actions,
.medplum-questionnaire-builder .section > .bottom-actions {
  position: absolute;
  right: 4px;
}

.medplum-questionnaire-builder .section > .top-actions a,
.medplum-questionnaire-builder .section > .bottom-actions a {
  font-size: 10px;
  color: var(--medplum-gray-500);
  margin: 0 6px 4px 0;
}

.medplum-questionnaire-builder .section.editing > .top-actions a,
.medplum-questionnaire-builder .section.editing > .bottom-actions a {
  color: var(--medplum-blue-500);
}
