.medplum-request-group {
  padding: 4px;
}

.medplum-request-group-task {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 16px;
}

.medplum-request-group-task-checkmark {
  color: var(--medplum-gray-700);
  font-size: 24px;
  width: 40px;
}

.medplum-request-group-task-details {
  flex: 1;
  line-height: 1.75;
}

.medplum-request-group-task-title {
  font-size: 14px;
  font-weight: bold;
}

.medplum-request-grou-task-actions {
  width: 100px;
}
