.medplum-blame-container {
  overflow-x: auto;
}

.medplum-blame {
  border: 0.1px solid var(--medplum-gray-100);
  border-collapse: collapse;
  border-radius: 4px;
  border-spacing: 0;
  width: 100%;
}

.medplum-blame .start-row {
  border-top: 0.1px solid var(--medplum-gray-100);
}

.medplum-blame .normal-row {
  border-top: 0;
}

.medplum-blame .details {
  border-right: 0.1px solid var(--medplum-gray-100);
  padding: 4px;
  font-size: 10px;
  line-height: 10px;
  vertical-align: top;
}

.medplum-blame .line-number {
  background-color: var(--medplum-gray-50);
  border: 0;
  color: var(--medplum-gray-500);
  font-family: monospace;
  padding: 4px 8px;
  text-align: right;
}

.medplum-blame .line {
  font-family: monospace;
  padding: 4px 8px;
}

.medplum-blame .line-pre {
  margin: 0;
}
