table.medplum-diff-table {
  border-collapse: collapse;
  width: 100%;
}

table.medplum-diff-table tr {
  border-top: 0.1px solid var(--medplum-gray-300);
}

table.medplum-diff-table th,
table.medplum-diff-table td {
  padding: 12px 6px;
  vertical-align: top;
}
