.medplum-search-control {
  max-width: 100%;
  overflow: auto;
  text-align: left;
  margin-bottom: 20px;
  background: var(--medplum-surface);
}

.medplum-search-control .medplum-search-summary {
  line-height: 28px;
  padding: 2px 6px;
  font-size: 12px;
  white-space: nowrap;
}

.medplum-search-control > table td,
.medplum-search-control > table th {
  cursor: pointer;
}

/* Body cells */

.medplum-search-control > table tbody tr:hover {
  background-color: var(--medplum-gray-50);
}

.medplum-search-control .medplum-empty-search {
  color: var(--medplum-gray-500);
  text-align: center;
  padding: 60px;
  font-size: var(--medplum-font-big);
}

.medplum-search-icon-cell {
  padding: 0 !important;
  text-align: center !important;
  width: 32px !important;
  min-width: 32px !important;
  max-width: 32px !important;
}

.medplum-search-icon-cell input[type='checkbox'] {
  margin: 0;
  padding: 0;
  outline: 0;
}
