.medplum-signin-buttons {
  display: flex;
  justify-content: space-between;
  line-height: 32px;
}

.medplum-signin-buttons > div {
  display: flex;
  align-items: center;
}

.medplum-signin-buttons a {
  font-size: 12px;
  margin-right: 16px;
}

.medplum-signin-buttons label {
  font-size: 12px;
}

.medplum-signin-google-container {
  padding: 20px 0 10px 0;
  margin: 20px 0 10px 0;
  height: 70px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.medplum-signin-separator {
  padding: 12px 0;
  margin: 12px 0;
  overflow: hidden;
  text-align: center;
  font-size: var(--medplum-font-small);
}

.medplum-signin-separator::before,
.medplum-signin-separator::after {
  background-color: var(--medplum-gray-400);
  content: '';
  display: inline-block;
  height: 0.1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.medplum-signin-separator::before {
  right: 0.5em;
  margin-left: -50%;
}

.medplum-signin-separator::after {
  left: 0.5em;
  margin-right: -50%;
}
