.medplum-status {
  padding: 1px 6px;
  margin: 0 4px;
  font-size: 80%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 8px;
}

/*
 * Request status: https://hl7.org/fhir/valueset-request-status.html
 * draft, active, on-hold, revoked, completed, entered-in-error, unknown
 *
 * Publication status: https://hl7.org/fhir/valueset-publication-status.html
 * draft, active, retired, unknown
 *
 * Observation status: https://www.hl7.org/fhir/valueset-observation-status.html
 * registered, preliminary, final, amended, cancelled, entered-in-error, unknown
 *
 * DiagnosticReport status: https://hl7.org/fhir/valueset-diagnostic-report-status.html
 * registered, preliminary, final, amended, corrected, appended, cancelled, entered-in-error, unknown
 *
 * Task status: https://hl7.org/fhir/valueset-task-status.html
 * draft, requested, received, accepted, rejected, ready, cancelled, in-progress, on-hold, failed, completed, entered-in-error
 *
 * Appointment status: https://www.hl7.org/fhir/valueset-appointmentstatus.html
 * proposed, pending, booked, arrived, fulfilled, cancelled, noshow, entered-in-error, chcked-in, waitlist
 */

.medplum-status-active,
.medplum-status-arrived,
.medplum-status-chcked-in,
.medplum-status-draft,
.medplum-status-in-progress,
.medplum-status-preliminary,
.medplum-status-proposed,
.medplum-status-pending,
.medplum-status-registered,
.medplum-status-requested {
  background-color: var(--medplum-blue-50);
  border: 0.01px solid var(--medplum-blue-300);
  color: var(--medplum-blue-800);
}

.medplum-status-on-hold {
  background-color: var(--medplum-orange-50);
  border: 0.01px solid var(--medplum-orange-300);
  color: var(--medplum-orange-800);
}

.medplum-status-booked,
.medplum-status-completed,
.medplum-status-fulfilled {
  background-color: var(--medplum-green-50);
  border: 0.01px solid var(--medplum-green-300);
  color: var(--medplum-green-800);
}

.medplum-status-cancelled,
.medplum-status-noshow,
.medplum-status-rejected,
.medplum-status-revoked,
.medplum-status-entered-in-error {
  background-color: var(--medplum-red-50);
  border: 0.01px solid var(--medplum-red-300);
  color: var(--medplum-red-800);
}

.medplum-status-unknown,
.medplum-status-waitlist {
  background-color: var(--medplum-gray-50);
  border: 0.01px solid var(--medplum-gray-500);
  color: var(--medplum-gray-800);
}
