.medplum-textarea {
  background: var(--medplum-surface);
  border: 0.1px solid var(--medplum-gray-300);
  border-radius: 3px;
  box-shadow: 0 0.5px 0.5px 0 var(--medplum-shadow);
  color: var(--medplum-foreground);
  line-height: 18px;
  padding: 8px 12px;
  margin: 0;
}

.medplum-textarea.monospace {
  font-family: var(--medplum-monospace-font-family);
  padding: 2px 4px;
}

.medplum-textarea:focus {
  background: var(--medplum-surface);
  color: var(--medplum-gray-900);
  border: 0.1px solid var(--medplum-blue-300);
  box-shadow: 0 0 0 2px var(--medplum-blue-200);
  outline: 0;
}

.medplum-textarea:disabled {
  background: var(--medplum-gray-100);
}
