# Auto detect text files and perform LF normalization
*        text=auto

*.java   text eol=lf diff=java
*.html   text eol=lf diff=html
*.css    text eol=lf
*.js     text eol=lf
*.ts     text eol=lf
*.sh     text eol=lf
*.sql    text eol=lf
*.xml    text eol=lf

*.cur    binary
*.gif    binary
*.ico    binary
*.jar    binary
*.jpg    binary
*.jpeg   binary
*.png    binary
*.xcf    binary
*.zip    binary

package-lock.json -diff
package-lock.json linguist-generated=true

