.featureGrid {
  display: grid;
  overflow: hidden;
  grid-auto-columns: 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: auto auto;
  border: 1px solid #e6e6e6;
  border-radius: 32px;
  background-color: #e6e6e6;
  transition: all 200ms ease;
}

[data-theme='dark'] .featureGrid {
  background: #333;
  border-color: #333;
}

@media screen and (max-width: 996px) {
  .featureGrid {
    grid-template-columns: 1fr;
  }
}

.featureCell {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fbfbfb;
  transition: all 200ms ease;
}

[data-theme='dark'] .featureCell {
  background: #000;
}

.featureIcon {
  transition: all 200ms ease;
  display: flex;
  width: 3rem;
  height: 3rem;
  min-height: 3rem;
  min-width: 3rem;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #f4f0fe;
  margin: 0 0 2rem 0;
}

[data-theme='dark'] .featureIcon {
  transition: all 200ms ease;
  background: #221d2d;
}

.featureCell h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.375rem;
  line-height: 1.2;
  font-weight: 400;
}

.featureCell p {
  transition: all 200ms ease;
  font-size: 0.9375rem;
  color: #4d4d4d;
}

[data-theme='dark'] .featureCell p {
  color: #b2b2b2;
}

.featureCell strong {
  color: #946af9;
  font-weight: 400;
}
