.section {
  max-width: 72rem;
  display: flex;
  margin: 50px auto 50px auto;
  padding: 20px;
}

@media screen and (max-width: 996px) {
  .section {
    flex-direction: column;
  }

  .heroSection .section {
    flex-direction: column-reverse;
    gap: 2rem;
  }
}

.heroSection {
  display: flex;
  min-height: 480px;
  flex-direction: column;
  justify-content: center;
  transition: all 200ms ease;
  padding: 10rem 0.5rem 5rem 0.5rem;
}

.heroSection h3 {
  font-size: 2.375rem;
  line-height: 1.25;
  font-weight: 400;
}

[data-theme='dark'] .heroSection {
  background: radial-gradient(81.56% 81.56% at 73.23% 18.44%, #291e2c 0%, #121116 100%);
}

.heroContent {
  display: flex;
  flex: 3;
  width: 100%;
  margin-bottom: 2.9rem;
  flex-direction: column;
  align-items: flex-start;
}

.heroTitle {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 300;
}

@media screen and (max-width: 996px) {
  .heroTitle {
    font-size: 2rem;
  }
}

.heroText {
  margin-bottom: 0;
  color: var(--oc-gray-7);
  font-size: 1.125rem;
  font-weight: 400;
}

[data-theme='dark'] .heroText {
  color: var(--oc-gray-4);
}

.heroButtons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 996px) {
  .heroButtons {
    flex-direction: column;
  }
}

.heroButtons a {
  display: inline-flex;
  height: 3.5rem;
  max-height: none;
  padding-right: 1rem;
  padding-left: 1rem;
  grid-column-gap: 0.625rem;
  transition: all 200ms ease;
  font-size: 1rem;
  text-decoration: none;
  align-items: center;
  border-style: none;
  border-width: 0;
  border-radius: 2.5rem;
  text-align: center;
  width: 15rem;
  max-width: 15rem;
  justify-content: center;
}

.heroButtons a:hover {
  text-decoration: none;
}

.purpleButton {
  background-color: var(--oc-grape-8);
  color: #fff;
}

.purpleButton:hover {
  background-color: var(--oc-grape-9);
}

.defaultButton {
  background-color: var(--oc-gray-2);
  color: var(--oc-gray-8);
}

.defaultButton:hover {
  background-color: var(--oc-gray-3);
}

.heroSubText {
  margin-bottom: 0;
  color: var(--oc-gray-7);
  font-size: 0.875rem;
  font-weight: 400;
}

.heroImage {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.heroImage img {
  height: auto;
}

@media screen and (max-width: 996px) {
  .heroImage img {
    width: 300px;
    /* height: 300px; */
  }
}

.cardImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.initCode {
  font-size: 2rem;
}
