.testimonialHeader {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  display: flex;
}

.testimonialHeader > img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.testimonialHeader p {
  margin: 0;
}

.testimonialInfo {
  grid-column-gap: 0.125rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: start;
  display: grid;
  gap: 0.25rem;
}

.testimonialName {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: -0.015em;
  color: var(--oc-grape-8);
  text-wrap-style:balance;
}

[data-theme='dark'] .testimonialName {
  color: var(--oc-gray-2);
}

.testimonialTitle {
  font-size: 0.75rem;
  line-height: 1rem;
  font-family: system-ui;
  font-feature-settings: normal;
  font-weight: 500;
  color: var(--oc-gray-6);
  text-wrap-style:balance;
}

[data-theme='dark'] .testimonialTitle {
  color: var(--oc-gray-4);
}

.testimonialLink {
  flex: none;
  max-width: 100%;
  display: inline-block;
}

.twitterIcon {
  width: 1.25rem;
  height: 1.25rem;
  color: #1da1f2;
}