.patientSummaryGradient {
  position: absolute;
  right: 28px;
  top: 0;
  bottom: 0;
  width: 48px;
  background: linear-gradient(to right, transparent, white);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.patientSummaryChevronContainer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 28px;
  background: white;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.patientSummaryChevron {
  position: static;
  margin: 0;
  padding: 0;
  z-index: 3;
  transition: opacity 0.2s;
  opacity: 1;
  cursor: pointer;
  margin-top: -4px;
}

.patientSummaryChevron:focus,
.patientSummaryChevron:active,
.patientSummaryChevron:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  transform: none !important;
}

.patientSummaryListItem:hover .patientSummaryGradient,
.patientSummaryListItem:hover .patientSummaryChevronContainer {
  opacity: 1;
  pointer-events: auto;
}

.patientSummaryListItem {
  position: relative;
  max-width: 100%;
  cursor: pointer;
}

.patientSummaryListItemText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
  font-weight: 500;
}

.patientSummaryBadge {
  cursor: pointer;
}

.patientSummaryAddButton {
  opacity: 0;
  transition: opacity 0.2s;
  position: absolute;
  right: 0;
  top: 0;
  transform: none;
  stroke-width: 1;
}

.patientSummaryHeader {
  width: 100%;
  cursor: default;
}

.patientSummaryHeader :global(.mantine-ActionIcon-root),
.patientSummaryHeader :global(.mantine-Text-root) {
  cursor: pointer;
  margin: 0;
}

.patientSummaryCollapseIcon {
  transition: transform 0.2s;
}

.patientSummaryCollapseIcon.collapsed {
  transform: rotate(-90deg);
} 