.pharmacyItem {
  border: 1px solid var(--mantine-color-gray-3);
  border-radius: var(--mantine-radius-sm);
  cursor: pointer;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.pharmacyItem:hover {
  border-color: var(--mantine-color-blue-4);
}

.pharmacyItemSelected {
  border: 2px solid var(--mantine-color-blue-6);
  border-radius: var(--mantine-radius-sm);
  cursor: pointer;
}
