.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.rightBorder {
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-gray-8));
}
