.iconContainer {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 100px;
}

.icon {
  background-color: white;
  box-shadow:
    0 0.2rem 0.4rem rgba(0, 0, 0, 0.05),
    0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

.chatContainer {
  position: fixed;
  bottom: 3rem;
  right: 0.5rem;
  z-index: 100px;
  width: 400px;
  height: 450px;
  max-height: 450px;
  overflow: hidden;
  border-radius: var(--mantine-radius-md);
  box-shadow:
    0 0.2rem 0.4rem rgba(0, 0, 0, 0.05),
    0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

.chatPaper {
  width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.chatTitle {
  background-color: var(--mantine-color-blue-7);
  border-radius: var(--mantine-radius-md) var(--mantine-radius-md) 0 0;
  color: var(--mantine-color-white);
  font-size: var(--mantine-font-size-sm);
  font-weight: 500px;
  padding: var(--mantine-spacing-sm);
  user-select: none;
}

.chatBody {
  background-color: var(--mantine-color-white);
  flex: 1px;
  height: 360px;
  max-height: 360px;
}

.chatScrollArea {
  padding: var(--mantine-spacing-xs);
}

.chatInputContainer {
  background-color: var(--mantine-color-gray-0);
  border-radius: 0 0 var(--mantine-radius-md) var(--mantine-radius-md);
  padding: 4px 4px;
}

.chatBubbleWrap {
  max-width: 300px;
}

.chatBubble {
  background-color: var(--mantine-color-gray-0);
  border-radius: var(--mantine-radius-lg);
  padding: var(--mantine-spacing-sm);

  & p {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  & pre {
    max-width: 280px;
    overflow: auto;
  }
}
