.footer {
  background-color: var(--oc-black);
}

.footerInner {
  width: 100%;
  max-width: var(--layout-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
  box-sizing: border-box;
}

@media screen and (max-width: 996px) {
  .footerInner {
    padding-left: var(--layout-padding-md);
    padding-right: var(--layout-padding-md);
  }
}

@media screen and (max-width: 600px) {
  .footerInner {
    padding-left: var(--layout-padding-sm);
    padding-right: var(--layout-padding-sm);
  }
}

.row {
  display: flex;
  flex-flow: row;
}

.column {
  flex-grow: 1;
}

@media (max-width: 600px) {
  .row {
    display: flex;
    flex-flow: column;
  }

  .column {
    margin-bottom: 32px;
  }
}

.rightAligned {
  text-align: right;
}

.link,
.bottomLink {
  color: white;
  text-decoration: none;
}

.link:hover,
.bottomLink:hover {
  color: var(--oc-grape-6);
  text-decoration: none;
}

.link {
  line-height: 2.2;
}

.separator {
  height: 0.1px;
  border: 0;
  border-top: 1px solid var(--oc-gray-8);
  margin-top: 80px;
  margin-bottom: 16px;
}

.bottomLink {
  padding-right: 1.25rem;
  color: var(--oc-gray-7);
}

.logoImage {
  color: white;
  display: block;
}
