.footer {
  background-color: var(--oc-black);
}

/* Match landing content width and breakpoints: 76rem max, 2rem padding */
.footerInner {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
}

@media screen and (max-width: 996px) {
  .footerInner {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .footerInner {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.row {
  display: flex;
  flex-flow: row;
}

.column {
  flex-grow: 1;
}

@media (max-width: 600px) {
  .row {
    display: flex;
    flex-flow: column;
  }

  .column {
    margin-bottom: 32px;
  }
}

.rightAligned {
  text-align: right;
}

.link,
.bottomLink {
  color: white;
  text-decoration: none;
}

.link:hover,
.bottomLink:hover {
  color: var(--oc-grape-6);
  text-decoration: none;
}

.link {
  line-height: 2.2;
}

.separator {
  height: 0.1px;
  border: 0;
  border-top: 1px solid var(--oc-gray-7);
  margin-top: 48px;
  margin-bottom: 16px;
}

.bottomLink {
  padding: var(--ifm-navbar-item-padding-vertical) var(--ifm-navbar-item-padding-horizontal);
}

.logoImage {
  color: white;
  display: block;
}
