.DS_Store

# Node/npm
node_modules/
package-lock.json

# Dotenv
.env

# Output
dist/

# Jest code coverage
coverage/

# TypeScript incremental build
tsconfig.tsbuildinfo

# VSCode
.vscode/

# JetBrains
.idea/