.footer {
  display: flex;
  justify-content: flex-end;
  padding: var(--mantine-spacing-md);
  height: 70px;
}

[data-mantine-color-scheme='dark'] .planDefinition,
[data-mantine-color-scheme='dark'] .footer {
  background-color: var(--mantine-color-dark-8);
}

[data-mantine-color-scheme='light'] .planDefinition,
[data-mantine-color-scheme='light'] .footer {
  background-color: var(--mantine-color-gray-1);
}
