.section {
  position: relative;
  margin: 4px 4px 8px;
  padding: 6px 12px 16px 6px;
  border: 1.5px solid var(--mantine-color-gray-3);
  border-radius: var(--mantine-radius-sm);
  transition: all 0.1;
}
