.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.calendar {
  flex-grow: 1;
  /* Prevent FullCalendar from entering a redraw loop
   * when the flex-container shifts size;
   * @see https://github.com/fullcalendar/fullcalendar/issues/8076
   */
  min-width: 0;
}

/* Very narrow 7-column calendars are impossible to read. Set a larger minimum
 * width even if that requires scrolling on small viewports.
 */
:global(.dayGridMonth).calendar,
:global(.timeGridWeek).calendar {
  min-width: 480px;
}

:global(.dayGridMonth).calendar .listItemEventBefore {
  display: none;
}

.clickable {
  cursor: pointer;
}

.selectedRange {
  background-color: light-dark(#228be62e, #4dabf73d);
}

/* Put more important title info first */
.eventTitle { order: 1; }
.eventTime { order: 2 }

/* Tweak event layout: title can span multiple lines */
.eventInner { overflow: hidden; }
.eventTitle {
  white-space: normal;
  overflow: visible;
}

/* Formatting tweaks */
.eventTitle { font-weight: 500; }
.eventTime { font-size: 10px; }

.shortEvent  {
  .eventInner {
    flex-direction: column;
    align-items: inherit;
  }
}

.backgroundEventInner > div {
  opacity: 1;
}


/* For short background events (typical for before/after buffer slots), reduce
 * the vertical padding and shrink the font size so that they overflow less
 * often. */
.backgroundEvent {
  container-type: size;
}
@container (height < 50px) {
  .backgroundEventInner > div {
    font-size: 10px;
    padding-top: 2px;
  }
}

/* round off background events a little bit */
.backgroundEvent {
  border-radius: var(--mantine-radius-sm);
}

/* Keep "today" column highlighting similar to react-big-calendar default style */
:root {
  --fc-classic-today: #b8e0ff4d;

  [data-color-scheme=dark] {
    --fc-classic-today: #406e934d;
  }
}

.nonBusinessHours {
  background-color: light-dark(#0000000A, #FFFFFF2A);
}

:global(.dayGridMonth) .event {
  background-color: var(--fc-event-color);

  .eventInner {
    color: var(--fc-event-contrast-color);
  }
}
