.toggle {
  width: 40px;
  height: 40px;
}

.toggleButton {
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid var(--oc-gray-3);
  transition: all var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.toggleButton:hover {
  border-color: var(--oc-grape-8);
  color: var(--oc-grape-8);
}

[data-theme='dark'] .toggleButton {
  border-color: var(--oc-gray-7);
}

[data-theme='dark'] .toggleButton:hover {
  border-color: var(--oc-grape-5);
  color: var(--oc-grape-5);
}

.toggleIcon {
  display: none;
}

[data-theme-choice='system'] .systemToggleIcon,
[data-theme-choice='light'] .lightToggleIcon,
[data-theme-choice='dark'] .darkToggleIcon {
  display: initial;
}

.toggleButtonDisabled {
  cursor: not-allowed;
}
