name: Add issue to projects

on:
  issues:
    types:
      - opened
  pull_request_target:
    types:
      - opened

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v0.5.0
        with:
          project-url: https://github.com/orgs/medplum/projects/1
          github-token: ${{ secrets.MEDPLUM_BOT_GITHUB_ACCESS_TOKEN }}
      - uses: actions/add-to-project@v0.5.0
        with:
          project-url: https://github.com/orgs/medplum/projects/3
          github-token: ${{ secrets.MEDPLUM_BOT_GITHUB_ACCESS_TOKEN }}
          labeled: customer
