name: autofix.ci

concurrency:
  group: ci-autofix-${{ github.ref_name == 'main' && github.sha || github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  push:
    branches:
      - main
      - medplum/test-actions

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 20

      - run: npm ci --maxsockets 1
      - run: npm run prettier

      - uses: autofix-ci/action@2891949f3779a1cafafae1523058501de3d4e944
