name: autofix.ci

concurrency:
  group: ci-autofix-${{ github.ref_name == 'main' && github.sha || github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths-ignore:
      # this directory contains FHIR resource files that should not be autofixed
      - 'packages/definitions/src/fhir/**'
  push:
    branches:
      - main
      - medplum/test-actions
    paths-ignore:
      - 'packages/definitions/src/fhir/**'

permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: '22'

      - run: npm ci
      - run: npm run prettier
      - run: npm run lint:fix

      - uses: autofix-ci/action@2891949f3779a1cafafae1523058501de3d4e944
