name: 'Chromatic'

on: push

jobs:
  chromatic:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: npm ci --maxsockets 1

      - name: Build
        run: npm run build -- --filter=@medplum/react

      - name: Publish @medplum/react Chromatic
        uses: chromaui/action@v10
        with:
          projectToken: chpt_429b596edaecafb
          workingDir: packages/react
          buildScriptName: storybook
          exitOnceUploaded: true
          exitZeroOnChanges: true
          onlyChanged: true
