# name: Coveralls
# on:
#   workflow_run:
#     workflows: [Build]
#     types: [completed]

# permissions:
#   contents: read

# jobs:
#   coveralls:
#     name: Coveralls
#     runs-on: ubuntu-latest
#     if: github.event.workflow_run.conclusion == 'success'
#     permissions:
#       pull-requests: write
#     steps:
#       - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
#         with:
#           repository: ${{ github.event.workflow_run.head_repository.full_name }}
#           ref: ${{ github.event.workflow_run.head_branch }}
#           fetch-depth: 0
#       - name: 'Download code coverage'
#         uses: actions/github-script@d7906e4ad0b1822421a7e6a35d5ca353c962f410 # v6.4.1
#         with:
#           script: |
#             let allArtifacts = await github.rest.actions.listWorkflowRunArtifacts({
#                owner: context.repo.owner,
#                repo: context.repo.repo,
#                run_id: context.payload.workflow_run.id,
#             });
#             let matchArtifact = allArtifacts.data.artifacts.filter((artifact) => {
#               return artifact.name == "medplum-code-coverage"
#             })[0];
#             let download = await github.rest.actions.downloadArtifact({
#                owner: context.repo.owner,
#                repo: context.repo.repo,
#                artifact_id: matchArtifact.id,
#                archive_format: 'zip',
#             });
#             let fs = require('fs');
#             fs.writeFileSync(`${process.env.GITHUB_WORKSPACE}/medplum-code-coverage.zip`, Buffer.from(download.data));
#       - name: 'Unzip code coverage'
#         run: unzip medplum-code-coverage.zip -d coverage
#       - name: Coveralls GitHub Action
#         uses: coverallsapp/github-action@09b709cf6a16e30b0808ba050c7a6e8a5ef13f8d # master
#         with:
#           github-token: ${{ secrets.GITHUB_TOKEN }}
