name: Prepare release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'New version (leave blank for automatic)'
        type: string

permissions:
  contents: read

jobs:
  prepare-release:
    name: Prepare release
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          token: ${{ secrets.MEDPLUM_BOT_GITHUB_ACCESS_TOKEN }}
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      # npm 11.6.2 is currently bundled with Node v24 and has an irksome bug affecting
      # `peer` attributes in the lockfile (https://github.com/npm/cli/issues/8690).
      # Upgrade to a patched version; this should be removed after Node has a tagged
      # release incorporating npm@11.6.3 or later.
      - name: Upgrade NPM
        run: npm install --global npm@11.7.0
      - name: Setup git
        run: |
          git config --global user.email "${{ secrets.MEDPLUM_BOT_EMAIL }}"
          git config --global user.name "${{ secrets.MEDPLUM_BOT_NAME }}"
      - name: Prepare release
        run: ./scripts/prepare-release.sh ${{ inputs.version }}
        env:
          GITHUB_TOKEN: ${{ secrets.MEDPLUM_BOT_GITHUB_ACCESS_TOKEN }}
