name: Upgrade dependencies

on:
  workflow_dispatch:
    inputs:
      cooldown:
        description: 'Minimum age (in days) for packages to be considered for upgrade'
        required: false
        type: string
      excludes:
        description: 'Additional packages to exclude from upgrades (space separated)'
        required: false
        type: string
  schedule:
    # Every Monday at 9:00 AM UTC
    # Every Monday at 1:00 AM PST (2:00 AM PDT)
    - cron: '0 9 * * 1'

permissions:
  contents: read

jobs:
  upgrade-dependencies:
    name: Upgrade dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          token: ${{ secrets.MEDPLUM_BOT_GITHUB_ACCESS_TOKEN }}
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'
      - name: Setup git
        run: |
          git config --global user.email "${{ secrets.MEDPLUM_BOT_EMAIL }}"
          git config --global user.name "${{ secrets.MEDPLUM_BOT_NAME }}"
      - name: Upgrade dependencies
        run: ./scripts/upgrade.sh --cooldown="${{ inputs.cooldown }}" --exclude="${{ inputs.excludes }}"
        env:
          GITHUB_TOKEN: ${{ secrets.MEDPLUM_BOT_GITHUB_ACCESS_TOKEN }}
